/fiji.o
/fiji
/fiji-tiger-pita.o
/fiji-macosx.dmg
/jvm.cfg
*.swp
/IJ_Prefs.txt
/Fiji.app*
*~
/MMConfig_demo.cfg
/MMStartup.bsh
/mmgr_dal_*
/CoreLog.txt
/root-x86_64-pc-linux
/jars/jython2.2.1/cachedir
/tmp.ijm
/fake/Fake*.class
/fake.jar
/ij.jar
/misc/Fiji.jar
/plugins/Jython_Interpreter.jar
/plugins/Clojure_Interpreter.jar
/plugins/JRuby_Interpreter.jar
/plugins/BeanShell_Interpreter.jar
/plugins/Javascript_.jar
/plugins/LSM_Toolbox.jar
/plugins/SplineDeformationGenerator_.jar
/plugins/bUnwarpJ_.jar
/plugins/lens_correction.jar
/plugins/register_virtual_stack_slices.jar
/plugins/registration_3d.jar
/plugins/IO_.jar
/plugins/CLI_.jar
/plugins/level_sets.jar
/plugins/VIB_.jar
/plugins/TrakEM2_.jar
/plugins/mpicbg_.jar
/plugins/Analyze/Grid_.class
/plugins/Examples/Example_Plot.class
/plugins/Filters/Preprocessor_Smooth.class
/plugins/Graphics/Example_Plot.class
/plugins/Input-Output/HandleExtraFileTypes.class
/plugins/Stacks/Stack_Reverser.class
/plugins/Utilities/Command_Launcher$1.class
/plugins/Utilities/Command_Launcher.class
