/fiji.o
/fiji
/fiji-tiger-pita.o
/fiji-macosx.dmg
/jvm.cfg
*.swp
/IJ_Prefs.txt
/Fiji.app*
*~
/MMConfig_demo.cfg
/MMStartup.bsh
/mmgr_dal_*
/CoreLog.txt
/root-x86_64-pc-linux
/jars/jython2.2.1/cachedir
/tmp.ijm
