# Name: Covariogram
# This plugin computes the geomteric covariogram or
# semi-variogram of a grayscale image in the 4 principal directions:
# N->S; W->E; SW->NE; NW->SE

# Name: Gran filter
# This plugin performs granulometric filtering of digital images
# the algorithm is described in Prodanov et al. J. Neurosci. Methods 2005
# doi:10.1016/j.jneumeth.2005.07.011 
# more information at www.neuromorf.com

# Author: Dimiter Prodanov (<D.Prodanov at lumc.nl><dimiterpp at gmail.com>)
# Version: 1.5
# Date: 2005/10/19
# Requires: ImageJ 1.31s

Plugins>Morphology, "Gran filter", GranFilter_
Help>About Plugins, "Gran filter...", GranFilter_("about")