Source: fiji
Section: unknown
Priority: extra
Maintainer: Mark Longair <mhl@pobox.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: fiji-launcher
Section: main
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends} imageja
Description: A launcher for the Fiji image processing suite
 FIXME: write something sensible here
 This package contains the launcher for Fiji.

Package: imageja
Section: main
Architecture: all
Depends: 
Description: A modified version of ImageJ
 FIXME: write something sensible here
 This package contains ImageJA, a slight fork of ImageJ with
 some new features.

Package: fiji-plugins