# Author: Stephan Saalfeld
File>Save As, "DF3 ...", Save_DF3
File>Import, "DF3...", Open_DF3

# by Johannes Schindelin:
File>Import, "IPLab Reader...", IPLab_Reader
# by Albert Cardona:
File>Import, "MRC Leginon ...", Open_MRC_Leginon
File>Import, "PDF ...", PDF_Viewer
File>Import, "DAT EMMENU ...", Open_DAT_EMMENU
