# Name: VIB

# Author: Johannes Schindelin and Bene Schmid

File>Import, "Amira...", AmiraMeshReader_
File>Import, "Biorad...", Biorad_Reader
File>Import, "Psychomorph .tem Reader", Psychomorph_TEM_Reader

File>Save As, "Amira ...", AmiraMeshWriter_
File>Save As, "Biorad ...", Biorad_Writer

Plugins>3D, "3D Viewer", ImageJ_3D_Viewer
Plugins>3D, "Show Amira Surface", Show_Amira_Surface

Plugins>Analyze, "Find differences", FindIt_
Plugins>Analyze, "Delaunay Voronoi", Delaunay_Voronoi
Plugins>Analyze, "Particle Analyzer 3D", Particle_Analyzer_3D
Plugins>Analyze, "Plot Dots", Plot_Dots
Plugins>Analyze, "VIB Protocol", VIB_Protocol
Plugins>Analyze, "Visual grep", Visual_Grep

Plugins>Debugging, "Test Marching Cubes", MC_Test
Plugins>Debugging, "Test Java3D", Test_Java3D

Plugins>Edit, "Crop Editor", CropEditor_
Plugins>Edit, "Segmentation Editor", Segmentation_Editor

Plugins>Color, "Average Color", Average_Color
Plugins>Color, "RGB to CIELAB", RGB_ti_CIELAB

Plugins>Process, "Bilateral Filter", Bilateral_Filter
Plugins>Process, "IFT", IFT_
Plugins>Process, "Implicit Interpolate Binary", Implicit_Interpolate_Binary
Plugins>Process, "Replace value", Replace_Value
Plugins>Process, "Distance Transform 3D", Distance_Transform_3D
Plugins>Process, "Fill holes", Fill_holes
Plugins>Process, "Moving Least Squares", Moving_Least_Squares
Plugins>Process, "Reslice Z", Reslice_Z
Plugins>Process, "Shape-based averaging", Rohlfing_SBA
Plugins>Process, "Seam remover", Seam_Remover
Plugins>Process, "Show label centers", Show_Label_Centers
Plugins>Process, "Triangle Algorithm", Triangle_Algorithm

Plugins>Registration, "Align Image", Align_Image

Plugins>Utilities, "Collect Garbage", CollectGarbage_
Plugins>Utilities, "Install Java3D", Install_Java3D
Plugins>Utilities, "Adjust Menu Font", Menu_Font
Plugins>Utilities, "Thread killer", Thread_Killer


Plugins>Unknown, "KD Cartoon", KD_Cartoon
Plugins>Unknown, "Lasso", Lasso_

# Ignoring obsolete plugins:
# Plugins>Edit, "ROI Brush", ROIBRush_
# Plugins>Utilities, "Scrollable stack window", Scrollable_Stackwindow
